body {
  font-family: "Maitree", serif;
  font-weight: normal;
  font-size: 20px;
  width: 90%;
  color: #666; }

body, footer {
  margin: 0 auto; }

p, h2, ul, li {
  margin: 0;
  padding: 0; }

header, section, footer {
  clear: both; }

.info {
  padding-left: 20px; }

header p, header a {
  font-size: 14px; }

.box {
  background-color: #669933; }

hr {
  background: #669933;
  height: 2px;
  margin: 20px 0; }

.main-ul li {
  list-style-type: none; }

.description {
  text-align: justify; }

.title {
  font-weight: bold; }

.description, .title {
  padding-top: 15px; }

.m20 {
  width: 20%; }

.m80 {
  width: 80%; }

.m20, .m80 {
  float: left; }

footer, img {
  width: 400px; }

footer {
  border-top: 2px solid #669933; }

/*# sourceMappingURL=main.css.map */
