@media only screen and (max-width: 768px) {
  .box {
    width: 100%;
    height: 3px; }

  .info {
    text-align: right;
    padding-right: 40px; }

  .title, .description {
    width: 100%; }

  .title {
    text-align: center; } }
@media only screen and (min-width: 768px) {
  body {
    margin: 30px auto 0 auto; }

  header {
    padding-bottom: 40px; }

  .box {
    width: 100px;
    height: 100px;
    float: right;
    margin: 0 20px; }

  .info {
    text-align: left; }

  .title {
    width: 30%;
    position: relative;
    min-height: 1px;
    float: left;
    text-align: left; }

  .description {
    width: 70%;
    float: left; } }
@media only screen and (min-width: 1200px) {
  body {
    width: 70%; } }

/*# sourceMappingURL=media.css.map */
